<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>UDAVA - Create model</title>
        <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css" title="Stylesheet">
        <link rel="icon" type="image/png" href="static/favicon.png">
        <script src="{{ url_for('static', filename='jquery.js')}}"></script>
    </head>

    <body>
        <header>
            {% include "header.html" %}
        </header>

        {% include "models_overview.html" %}

        <div class="box createForm">
            <h3>Create new model</h3>
            <p>A virtual sensor can be created by (A) filling out the form below, or (B) uploading a parameter file.</p>
            <form action="create_model" method="POST" enctype="multipart/form-data">
                <h4>(A) Fill in the parameters below:</h4>
                <label for="dataset">Name of dataset:</label>
                <input type="text" name="dataset"/>
                <label for="target">Variable:</label>
                <input type="text" name="target"/>
                <label for="timestamp_column">Name of timestamp column:</label>
                <input type="text" name="timestamp_column"/>
                <label for="learning_method">Learning method:</label>
                <select name="learning_method">
                    <option value="minibatchkmeans" selected>K-means (mini-batch)</option>
                    <option value="meanshift">Mean shift</option>
                </select>
                <label for="n_clusters">Number of clusters:</label>
                <input type="text" name="n_clusters" />
                <label for="max_iter">Max iterations of clustering:</label>
                <input type="text" name="max_iter" value=100 />
                <label for="window_size">Window size:</label>
                <input type="text" name="window_size" />
                <label for="overlap">Overlap of windows:</label>
                <input type="text" name="overlap" value=0 />

                <input type="submit" onclick="loading()"/>
            </form>
            <form action="create_model" method="POST" enctype="multipart/form-data">
                <h4>(B) Upload parameter file here:</h4>
                <input type="file" name="file"/>
                <input type="submit" onclick="loading()"/>
            </form>
            <div id=loaderContainer>
                <div id=loader></div>
                <div id=loaderText>Creating model...</div>
            </div>
        </div>


        <footer>

        </footer>
    </body>

    <script>
        function loading(){
            document.getElementById("loader").style.display = "block";
            document.getElementById("loaderText").style.display = "block";
        }

        var slider = document.getElementById("train_split");
        var output = document.getElementById("train_split_value");
        output.innerHTML = slider.value / 10;

        slider.oninput = function() {
            output.innerHTML = this.value / 10;
        }
    </script>

</html>


