        <div class=box>
            <h2>Model dashboard</h2>

            <div class=overviewTable>
                <table>
                    <thead>
                        <tr>
                        <th>ID</td>
                        <th>Dataset name</th>
                        <th>Variable</th>
                        <th>Window size</th>
                        <th>Number of clusters</th>
                        <th>Cluster method</th>
                        <!-- <th>TODO: Compute metric</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {%for model in models|reverse%}
                        <tr>
                            <td>{{models[model]["id"]}}</td>
                            <td>{{models[model]["params"]["featurize"]["dataset"]}}</td>
                            <td>{{models[model]["params"]["featurize"]["columns"]}}</td>
                            <td>{{models[model]["params"]["featurize"]["window_size"]}}</td>
                            <td class=tooltip>{{models[model]["params"]["cluster"]["n_clusters"]}}
                                <span class=tooltiptext>
                                    Cluster characteristics:<br>
                                {%for cluster in models[model]["cluster_characteristics"]%}<br>
                                    {{cluster}}
                                {%endfor%}
                                </span>
                            </td>
                            <td>{{models[model]["params"]["cluster"]["learning_method"]}}</td>
                            <!-- <td>NaN</td> -->
                            <!-- <tr><td colspan="6"><p> -->
                            <!--     {%for cluster in models[model]["cluster_characteristics"]%}<br> -->
                            <!--         {{cluster}} -->
                            <!--     {%endfor%} -->
                            <!-- </p></td></tr> -->
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>

        </div>

<!-- <script> -->
<!-- $(function() { -->
      
<!--     // Initially hide toggleable content -->
<!--     $("td[colspan=6]").find("p").hide(); -->

<!--     // Click handler on entire table -->
<!--     $("tbody").click(function(event) { -->

<!--         // No bubbling up -->
<!--         event.stopPropagation(); -->

<!--         var $target = $(event.target); -->

<!--         // Open and close the appropriate thing -->
<!--         if ( $target.closest("td").attr("colspan") > 1 ) { -->
<!--             $target.slideUp(); -->
<!--         } else { -->
<!--             $target.closest("tr").next().find("p").slideToggle(); -->
<!--         } -->                    
<!--     }); -->
<!-- }); -->
<!-- </script> -->
